/keys
/.circleci/gcs-service-account-key.json

.DS_Store
/infrastructure/terraform/terraform_service_account.json
/infrastructure/terraform/*.tfstate
/infrastructure/terraform/*.tfstate.*
/infrastructure/terraform/*.tfvars
/wss/node_modules
/*/service
/*/server
/*/__*
/river-runner/env/prod*
/file-builder/env/prod*
/data
/postgres-data